@import url('https://fonts.cdnfonts.com/css/lucida-handwriting-std');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html{
    font-family: 'Figtree', sans-serif;
    background-color: #FFFEFA;
    color: #191A2F;
    text-align: justify;
    width: 100%;
    overflow-x: hidden;
}
@media only screen and (max-width: 500px) {
    body,html{
        text-align: left;
    }
}

.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
}

.blue {
    color: #263D93;
    font-weight: bold;
    font-size: 800;
}

.orange {
    color: #D74E09
}


.yellow {
    color: #fdcd0c;
    font-weight: bold;
}

.primTitle {
    font-size: 50px;
}
.mt{
    margin-top: 20vh;
}
.contact{
    text-decoration: none;
    color: #191A2F;
}
h1,
h2,
h3 {
    color: #263D93;
    text-align: center;
}


/* NAVBAR */
header .navigation {
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 82px;
    z-index: 10;
    background: #FFFEFA;
    border-bottom: 2px solid #0c2d48;
    border-top: 2px solid #0c2d48;
    padding-top: 5px;
    padding-bottom: 5px;
}

header .navigation .logoSvg {
    margin: 10px;
    width: 50px;
    margin-left: 40px;
}

header .navigation .menu-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    gap: 20px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right:15px;
}

header .navigation .humbarger {
    display: none;
}

header .navigation .humbarger .bar {
    width: 30px;
    height: 2px;
    margin: 7px;
    background: #191A2F;
    background-color: #191A2F;
}

header .navigation .menu-list li a {
    color: #191A2F;
    cursor: pointer;
    text-decoration: none;
    background: none;
    box-sizing: border-box;
    display: block;
    padding: 8px 12px;
    position: relative;
    text-align: center;
    width: 100%;
}

header .navigation .menu-list li a:before {
    background: #fdcd0c;
    border-radius: 999px;
    content: "";
    inset: 0;
    position: absolute;
    transform: translate(0px, 25px);
    z-index: -1;
    height: 6px;
    animation: none;
    width: 100%;
}

#telmail {
    display: flex;
    align-items: center;
    gap: 15px;
}
#contact-r{
    display: none;
}
.d-none{
    display: none;
}
@keyframes upAndDown {

    0% {
        transform: translate(0px, 20px);
    }

    50% {
        transform: translate(0px, -5px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

header .navigation .menu-list li a:hover:before {
    animation: upAndDown 0.5s ease;
    transform: translate(0px, 0px);
    height: 100%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}


@media only screen and (max-width: 970px) {

    header .navigation .menu-list {
        position: absolute;
        top: 65px;
        left: -15px;
        width: 100%;
        background: rgba(15, 20, 35, .99);
        background: rgba(15, 20, 35, .99);
        background: #FFFEFA;
        text-align: center;
        display: none;
        color: black;
            }

    header .navigation .menu-list li {
        display: block;
    }
    .d-none{
        display: block;
    }

    header .navigation .menu-list li a {
        display: block;
        padding: 20px;
        transition: color 1s ease, padding 1s ease, background-color 1s ease;
        border-bottom: 2px solid #0c2d48;
    }

    header .navigation .humbarger {
        display: block;
    }

}
@media only screen and (max-width: 470px) {
    header .navigation .logoSvg {
        margin-left: 20px;
    }
}
@media only screen and (max-width: 440px) {
    header .navigation .logoSvg {
        margin: 10px;
        width: 50px;
        margin-left: 20px;
    }
}

/* FIN NAVBAR #*/

/* PAGE ACCUEIL */
#specialh {
    position: absolute;
    color: #FFFEFA;
}

.title {
    font-size: 40px;
    margin-top: 1em;
}

#presentation {
    display: flex;
    margin-bottom: 8em;
    margin-top: 6em;
    height: fit-content;
    justify-content: space-around;
}

#logo {
    height: 290px;
    width: auto;
    display: block;
    margin-top: 15%;
    margin-bottom: 3em;
}


#imgSeb {
    position: relative;
    border-radius: 52% 48% 59% 41% / 47% 31% 69% 53%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    height: 400px;
    min-width: 500px;
    margin-top: 3em;
    border: 6px solid #fdcd0c;
    overflow: hidden;
}

#imgSeb img {
    position: absolute;
    top: -40px;
    right: 10px;
    height: auto;
    width: 100%;
    /* Utilisez une largeur de 100% pour rendre l'image responsive */
    max-width: 500px;
    /* Ajoutez une largeur maximale si nécessaire */
    transform: scale(1.3);
    border-radius: 52% 48% 59% 41% / 47% 31% 69% 53%;
}
.responsive-logo{
    display: none;
}

.mySvg {
    display: block;
    height: 5em;
    margin: auto;
}

.flex-wrap {
    flex-wrap: wrap;
}

.primSvg {
    justify-content: space-around;
    text-align: center;
    margin-top: 6em;
    display: flex;
}

.mainTitle {
    /* margin-top:6vh; */
    margin-bottom: 10vh;
}

#video {
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.videoContainer {
    margin-top: 4em;
    gap: 4em;
    margin-left: 2em;
    margin-right: 2em;
    display: flex;
    margin-bottom: 6em;
    position: relative;
    height: 100%;
}

#primLogo {
    height: 20em;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

#videoText {
    transform: rotate(-4deg);
    margin-top: 1em;
    margin-bottom: auto;
    background-color: #FFFEFA;
    padding: 25px;
    border-radius: 4%;
    border: solid 1px black;
    position: relative;
}
#actu {
    background-color: #FFFEFA;
    border-radius: 10%;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.conat {
    display: flex;
    align-items: center;
    /* Center the image vertically */
}

.actuContainer {
    margin-top: 4em;
    gap: 4em;
    margin-left: 2em;
    margin-right: 2em;
    display: flex;
    margin-bottom: 10em;
    position: relative;
    height: 100%;
    display: flex;
    vertical-align: center;
    align-items: center;
}

#actuText {
    transform: rotate(-4deg);
    margin-top: 1em;
    margin-bottom: auto;
    background-color: #FFFEFA;
    padding: 25px;
    border-radius: 4%;
    border: solid 1px black;
    position: relative;
}

.mb-actu {
    margin-bottom: 20px;
}
.rotate-1 {
    transform: rotate(6deg);
    background-color: #d74e0994;
    border-radius: 4%;
    position: relative;
    width: 100%;
    z-index: 1;
    /* margin: 0 auto; */
}

.rotate-2 {
    transform: rotate(-12deg);
    background-color: #fdcd0c94;
    border-radius: 4%;
    position: relative;
    z-index: 1;
    /* bottom: 30px; */
}

.rotate-3 {
    transform: rotate(5deg);
    background-color: #d74e0994;
    border-radius: 4%;
    position: relative;
    z-index: 1;
    /* right: 30px */
}

.rotate-4 {
    transform: rotate(5deg);
    background-color: #fdcd0c94;
    border-radius: 4%;
    position: relative;
    z-index: 1;
    /* right: -10px; */
}

#videoText p {
    margin-bottom: 20px;
}

/* @media screen and (min-width: 1400px) {
    #presentation {
        margin-top: 10%;
        margin-bottom: 10px;
    }


} */
@media screen and (max-width: 1300px) {
    #presentation {
        margin-top: 10%;
        margin-bottom: 12%;
    }

    .primSvg {
        margin-top: 4em;
        margin-bottom: 20px;
    }

    #logo {
        height: 240px;
    }

    .parallax-container {
        height: 600px;
    }

    .parallax-text {
        margin-top: 6em;
    }

    .videoContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 30px;
    }
        #imgSeb {
            height: 350px;
            min-width: 450px;
        }
    
        #imgSeb img {
            max-width: 450px;
        }


}

@media screen and (max-width: 1150px) {
#logo {
        width: 100%;
        /* margin-left: auto;
        margin-right: auto;
        text-align: center; */
    } 

    #imgSeb {
        height: 300px;
        min-width: 400px;
    }
    #imgSeb img {
        max-width: 400px;
    }
    #presentation{
        gap: 1em;
        margin-left: auto;
                margin-right: auto;
    }
         .mySvg {
             height: 4em;
         }

}

@media screen and (max-width: 1050px) {
   

    .parallax-text {
        margin-top: 6em;
        width: 80%;
    }
}
@media screen and (max-width: 1000px) {


         #imgSeb {
             height: 250px;
             min-width: 350px;
         }
    
         #imgSeb img {
             max-width: 350px;
         }
}


@media screen and (max-width: 930px) {
   
    #presentation {
            margin-top: 9%;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 20px;
        }

        .leftSide {
            display: none;
        }

                .mainTitle{
                    margin-top: 1em;
            margin-bottom: 1em;
                }
}
@media screen and (max-width: 840px) {
    
   
    article.parallax-text {
        width: 95%;
    }


    .mySvg {
        height: 4em;
    }

    .mainTitle {
        margin-top: 1em;
        margin-top: 0;
        font-size: 45px;
    }

    .parallax-container {
        /* height: 700px; */
    }
}
@media screen and (max-width: 700px) {
    #logo{
        margin-top: 10%;
        margin-bottom: 1em;
    }
}
@media screen and (max-width: 650px) {
        .mainTitle {
            margin-top: 1em;
            margin-bottom:1em;
            font-size: 45px;
        }

    #logo {
            height: auto;
            width: 90%;
            margin-left: 20px;
            margin-right: 20px;
            text-align: center; 
        }

    iframe {
        width: 550px;

    }

    .videoContainer {
        margin-top: 3em;
    }
}


@media screen and (max-width: 570px) {

    #logo {
            margin-top: 5em;
        }

    .parallax {
        height: 110%;
        width: 150%;
        right: 1px;
    }
}

@media screen and (max-width: 550px) {

    #logo {
            margin-bottom: 3em;
        }

    .mySvg {
        height: 3em;
        margin-bottom: 8px;
    }

    .primSvg {
        margin-top: 1px;
    }

    .mainTitle {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    section.parallax-container {
        height: 700px;
        overflow: auto;
    }

    .parallax-text {
        margin-top: 4em;
    }

    iframe {
        width: 450px;
    }
           #logo {
               display: none;
    
           }
    
           .responsive-logo {
               display: block;
               margin-top: 4em;
               margin-bottom: 3em;
               display: flex;
               flex-wrap: wrap;
               justify-content: space-around;
           }
    
           .responsive-logo #logo-tel {
               height: auto;
               width: 90%;
               margin-left: 5%;
               margin-right: 5%;
               /* width: 10em; */
           }
    
           .slogan-r {
               letter-spacing: 2px;
               font-size: 18px;
               text-align: center;
           }
}

@media screen and (max-width: 520px) {

    .parallax-container {
        height: 800px;
        overflow: auto;
    }

}



@media screen and (max-width: 470px) {
    
 
     section.parallax-container {
         height: 750px;
         overflow: auto;
     }

    iframe {
        width: 380px;
        height: 300px
    }

    .videoContainer {
        gap: 2em;
    }
}

@media screen and (max-width: 440px) {

    .mainTitle{
        margin-bottom: 1em;
    }
    .mySvg {
        height: 2.5em;
        margin-top: 20px;
    }

}
@media screen and (max-width: 430px) {


    .mySvg {
        height: 3em;
        margin-top: 20px;
    }
    #contact{
        display: none;
    }
    #contact-r{
        display: block;
        margin-left: 10px;
    }
    #arrow-contact{
        position: absolute;
        margin-left: 3px;
    }

}

@media screen and (max-width: 450px) {

    iframe {
        width: 350px;
    }
}

@media screen and (max-width: 420px) {

  

    .mySvg {
        height: 2.5em;
        margin-top: 20px;
    }

        section.parallax-container {
        height: 850px;
        overflow: auto;
    }

    .videoContainer {
        gap: 10px;
    }
    iframe{
    }
}
@media screen and (max-width: 400px) {

section.parallax-container {
        height: 950px;
        overflow: auto;
    }

        .videoContainer {
            gap: 50px;
        }
    .responsive-logo #logo-tel {
        width: 90%;
        /* width: 10em; */
    }
}
/* FIN PAGE ACCUEIL */

/* SEANCES */
.container-seances{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
#pqVisio li {
    margin: 10px;
}
#pqVisio{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: auto;
}
#pqVisio h3{
    font-size: 25px;
    margin-bottom: 20px;
}
.mesSvg {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    gap: 1%;
}

.mesSvg div {
    width: 20%;
    white-space: pre-wrap;
    margin-left: 10px;
    margin-right: 10px;
}

.mesSvg img {
    width: 7em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

.mesSvg div {
    display: flex;
    flex-direction: column;
    
}

.imgSeances {
    height: 50vh;
    margin-top: 3em;
    margin-left: 4%;
    margin-right: 4%;
    width: 65%;
    min-width: 30em;
    position: relative;
    background-color: #008080;
    overflow: hidden;
    border-radius: 100%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    display: flex;
    justify-content: center;
}

.imgSeances img {
    height: 50vh;
    width: 90%;
    text-align: center;
}

.textSeances {
    width: 100%;
    margin-top: 4%;
}
#img-seances{
    min-width: 30%;
    margin-left: 3em;
    margin-top: auto;
    margin-bottom: auto;
}
.texteSeances {
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
}

@media screen and (max-width: 1200px) {

    .textSeances{
        margin-top: 1em;
    }
    .mesSvg{
            display: grid;
            grid-template-columns: repeat(2, 0.3fr);
            grid-template-rows: repeat(2, 1fr);
            margin-left: auto;
            margin-right: auto;
            grid-row-gap: 1em;
            margin-top: 1em;
    }
    .mesSvg div{
        height: fit-content;
        width: 10em;
        margin: auto;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 970px) {

    .mt{
        margin-top: 15vh;
    }
    #pqVisio{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 20px;
        margin-left: 4%;
        margin-right: 4%;
        
    }
    #img-seances {
        grid-area: 1 / 1 / 2 / 3;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
    div.texteSeances{
        padding-left: 30px;
        padding-right: 30px;
    }
   
}
@media screen and (max-width: 930px) {

   .container-seances{
        display: block;
   }
   .imgSeances{
        margin-left: auto;
        margin-right: auto;
   }
   .textSeances{
    margin-top: 4em;
    margin-bottom: 6em;
   }
  
}
@media screen and (max-width: 660px) {
    #pqVisio{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 3em;
    }
    #img-seances {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    .textSeances {
        margin-left: auto;
        margin-right: auto;
    }

}
@media screen and (max-width: 500px) {

    .container-seances {
        display: block;
    }

    .imgSeances {
        margin-left: auto;
        margin-right: auto;
        min-width: 22em;
    }
    .mesSvg {
        margin-top: 2em;
    }
     #img-seances {
         margin-left: auto;
         margin-right: auto;
         width: 100%;
     }
}
/* CAROUSEL SEANCES */

.container {
    width: 90%;
    margin: 0 auto;
    margin-top: 5em;
    margin-bottom: 5em;
}

.container ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 25px
}

.container li {
    overflow: hidden;
    width: 300px;
    float: left;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #263D93;
    transform: scale(1);
    -webkit-transition: all ease-in-out 0.7s;
    -moz-transition: all ease-in-out 0.7s;
    -o-transition: all ease-in-out 0.7s;
    transition: all ease-in-out 0.7s;
    border-radius: 100% 0% 100% 0% / 19% 83% 17% 81%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

}

.myLi {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;

}
.myLi h2{
    margin-bottom: 1em;
}
.subtitles{
    margin-bottom: 1.1em;
}
.subsubtitles{
    margin-bottom: 2em;
}
.mb{
    margin-bottom: 20px;
}


.container li:hover {
    cursor: pointer;
    border: 7px solid #263D93;
    background: rgba(255, 255, 255, 0.5);
    transform: scale(0.98);
    filter: brightness(90%);
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    padding: 0;
    filter: brightness(90%);
}

.gallery-item:hover img {
    transform: scale(1.1);
    filter: brightness(100%);
}
.container .display {
    position: relative;
    height: auto;
    background: transparent;
    border: 8px solid #fdcd0c;
    display: none;
    padding: 20px;
    border-radius: 100% 0% 100% 0% / 19% 83% 17% 81%;
    padding: 4em 40px;
    margin-bottom: 5em;
}

.container .display button {
    position: absolute;
}
button.prev.navigation{
    background-color: red;
}
.container .display .close {
    right: 0;
    top: -90px;
}

.container .display .prev {
    left: -5.7%;
}

.container .display .next {

    right: -5.7%;
}

.container .display .next,
.container .display .prev {
    top: 50%;
    margin-top: -50px;
    font-size: 10px;
}

.container .display .close,
.container .display .next,
.container .display .prev {
    background: #FFFEFA;
    border: 2px solid #263D93;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-weight: 100;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
}

.hideText {
    display: none;
}

.seanceTitle {
    width: 15em;
}

.slidSvg {
    height: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

.rightSvg {
    transform: rotate(180deg);
}
@media screen and (max-width: 850px){
    .container .display .next,
    .container .display .prev {
            background: #FFFEFA;
            border: 2px solid #263D93;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            font-weight: 100;
            text-align: center;
            line-height: 60px;
            cursor: pointer;
        }
    .container .display .close {
        top: 12px;
        right: 12px;
    }
}
@media screen and (max-width: 500px) {

    div.display article {
        margin-top: 1em;
    }
}
@media screen and (max-width: 450px) {

    .container .display {
        padding: 4em 50px;
    }
}
/* FIN CAROUSEL SEANCES */


/* FIN SEANCES */

/* PARALLAX */

.parallax-container {
    position: relative;
    height: 600px;
    overflow: hidden;
    align-items: center;
    position: relative;
}


.parallax {
    position: absolute;
    height: 100%;
    width: 100%;
    margin-top: 10em;
}
.parallaxx {
    position: absolute;
}

.parallax-text {
    position: absolute;
    right: 1%;
    width: 65%;
    margin-top: 4em;
    padding: 2em;
    border: 4px solid #fdcd0c;
    background: rgba(26, 22, 22, 0.728);
    color: white;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.parallax-text p {
    margin-bottom: 10px;
}


.parallax-containerSeances {
    position: relative;
    overflow: hidden;
    align-items: center;
}

/* FIN DE PARALLAX */

/* FOOTER */
#footer {
    background-color: #266da7;
    color: white;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 6%;
}

.footer-title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.contactfooter {
    text-decoration: none;
    color: white;
    display: block;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    width: 100%;
    text-align: center;
}
#contactme{
 gap: 2em;
 justify-content: space-around;
}

.contact-svg {
    width: 5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
}
.contact-svg:hover {
    animation: bouncing 0.5s 0s;
}
@keyframes bouncing {

    from,
    to {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}
@media (max-width: 768px) {
    #footer {
        flex-direction: column;
        align-items: center;
        padding-bottom: 6em;
    }
    
    #comments,
    #contactme {
        width: 100%;
        text-align: center;
    }
}

.italic {
    font-style: italic;
}


.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

/* CITATIONS */
#citations-container {
    overflow: hidden;
    position: fixed;
    top: 80px;
    right: 0;
    background-color: #FFFEFA;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 4px;
    font-style: italic;
    background-color: white;
    z-index: 99;
}

.citation {
    display: inline-block;
    margin-right: 20px;
    animation: scrollText 10s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}
@media screen and (max-width: 970px) {
    #citations-container {
        position: fixed;
        top: auto;
        bottom: 0;
        right: 0;
    }
}

@keyframes scrollText {
    0% {
        transform: translateY(-50px);
    }

    20% {
        transform: translateY(0%);
    }

    80% {
        transform: translateY(0%);
    }

    100% {

        transform: translateY(100%);
    }
}
/* FIN CITATIONS */
/* QUI SUIS JE */


.containerQui {
    display: flex;
    flex-wrap: wrap;
    margin: 3em;
    gap: 4em;
    margin-top: 5em;
    box-sizing: border-box;
}

.container-qui {
    transform: rotate(-4deg);
    margin-top: 5em;
    margin-bottom: 2em;
    background-color: #FFFEFA;
    padding: 25px;
    border-radius: 4%;
    border: solid 1px black;
    position: relative;
}
.container-qui ul{
    list-style-type: none;
    font-weight: bold;
}
.intro-qui{
    text-align: center;
}
.intro-qui p {
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
.text-pres div {
    display:flow-root
}

#imgQui {
    max-width: 560px;
    width: 100%;
    float: left;
    margin-top: 7%;
    margin-right: 40px;
    border-radius: 100%;
    border: 6px solid #fdcd0c;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#ref {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    text-align: center;
    justify-content: space-around;
    margin-top: 3em;
    margin-bottom: 1em;
}

#ref .footer-svg {
    height: 70px;
    min-width: 6em;
    max-width: 15em;
    margin: 5px;
    border-radius: 5%;
    margin-right: 20px;
}
.textQui div {
    padding-left: 20px;
    padding-right: 20px;
}
.textQui h2{
    margin-bottom: 1em;
}
.textQui p{
    margin-bottom: 10px;
}

.titleQui {
    font-family: 'Lucida Handwriting Std';
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 0.5em;
}

@media screen and (max-width: 1280px){
    #imgQui {
            max-width: 450px;
            width: 100%;
        }
    .mbb{
        margin-bottom: 90px;
    }

}
@media screen and (max-width: 1095px) {
    .mbb {
        margin-bottom: 0;
    }
}
@media screen and (max-width: 995px) {
    .mb-r {
        padding-top: 70px;
        margin-bottom: 160px;
    }
    #imgQui {
        max-width: 400px;
        width: 100%;
    }
}
@media screen and (max-width: 900px) {
    .mb-r {
        padding-top: 70px;
        margin-bottom: 0;
    }

    #imgQui {
        max-width: 400px;
        width: 100%;
    }
}
@media screen and (max-width: 900px) {
    .mb-r {
        padding-top: 0;
    }
    #imgQui {
            float: none;
            margin-bottom: 0;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
}
@media screen and (max-width: 570px) {
    #ref{
        gap: 10px;
    }
}
@media screen and (max-width: 450px) {
    .titleQui {
            font-size: 40px;
        }
}
@media screen and (max-width: 360px) {
    .titleQui {
        font-size: 35px;
    }
}
/* Pour s'amuser */

#presentation-samuser{
    margin: 3em;
}
#presentation-samuser .primTitle{
    margin-bottom: 1em;
}
#presentation-samuser button {
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
    margin-top: 3em;
}
#funText {
    transform: rotate(-4deg);
    margin-top: 5em;
    margin-bottom: 4em;
    background-color: #FFFEFA;
    padding: 25px;
    border-radius: 4%;
    border: solid 1px black;
    position: relative;
}
#text-samuser p{
    margin-top: 1em;
}

.mybuttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2em;
}

.box {
    width: 100%;
    height: auto;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    background: #FFFEFA;
    text-transform: uppercase;
    border: 2px solid #fdcd0c;
    font-weight: 500;
}

.box:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
}

.box:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
}

.box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.box:hover:before {
    border-color: #fdcd0c;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
}

.box:hover:after {
    border-color: #fdcd0c;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
}
.slider-pages {
    overflow: hidden;
    position: relative;
    height: 580px;
    margin-bottom: 3em;
}

.slider-page {
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 580px;
    transition: transform 1350ms;
}

.slider-page--skew {
    overflow: hidden;
    position: absolute;
    width: 140%;
    height: 100%;
    background: #FFFEFA;
    transform: skewX(-18deg);
}

.slider-page--left .slider-page__content {
    transform-origin: 100% 0;
    transform: skewX(18deg);
}
.slider-page--right .slider-page__content {
    padding: auto 30% auto 30%;
    transform-origin: 0 100%;
    transform: skewX(18deg);
}
.slider-page--left {
    left: 0;
    transform: translateX(calc(32.5vh * -1)) translateY(100%) translateZ(0);
}

.slider-page--left .slider-page--skew {
    left: -30%;
}

.slider-page--right {
    left: 50%;
    transform: translateX(32.5vh) translateY(-100%) translateZ(0);
}

.slider-page--right .slider-page--skew {
    right: -40%;

}



.slider-page__content {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    background-size: cover;
    transform: skewX(var(18deg));
    transition: transform 1350ms;
    
}
.fun-text{
    margin: auto;
    width: 50%;
}
.fun-text:nth-child(odd) {
    margin-left: auto;
    margin-right: 28%;
}
.fun-text p{
    margin-bottom: 10px;
}
.slider-page__title {
    font-size: 700;
    text-align: center;
    text-transform: uppercase;
}

.slider-page__description {
    margin-top: 2em;
}
.js-event-page {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.js-event--active .slider-page {
    transform: translateX(0) translateY(0) translateZ(0);
}

.js-event--inactive .slider-page__content {
    transform: skewX(18deg) scale(0.9);
}

.js-event-page-1 .slider-page--left .slider-page__content {
    background-image: url("./img/Image-Seb-Formateur.png");
}

.js-event-page-2 .slider-page--right .slider-page__content {
    background-image: url("./img/pour-soiree-d_appro.png");
 
}

.js-event-page-3 .slider-page--left .slider-page__content {
    background-image: url("./img/Randonnee-interieure.jpg");
}
.js-event-page-4 .slider-page--right .slider-page__content {
        background-image: url("./img/Degustation-sous-hypnose.jpg");
}

.js-event-page-5 .slider-page--left .slider-page__content {
    background-image: url("./img/massages.jpeg");
}


/* ACCORDEON REESPONSIVE */
.ac-container {
    display: none;
    max-width: 90%;
    width: 100%;
    margin: 10px auto 30px auto;
}

.ac-container label {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    cursor: pointer;
    border: 2px solid black;
    margin: 5px 0;
}

.ac-container label:hover,
.ac-container input:checked+label,
.ac-container input:checked+label:hover {
    background: #fdcd0c;
}

.ac-container input {
    display: none;
}



.img-acc {
    max-width: 300px;
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin: 3em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.img-acc img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transform: scale(1.4);
}

.ac-container article div {
    margin-right: 2em;
    margin-left: 2em;
}

.ac-container article p {
    width: 100%;
    margin-bottom: 10px;
}

.ac-container article {
    overflow: hidden;
    height: 0;
    max-height: 900px;
    transition: height 0.5s ease-in-out, box-shadow 0.1s;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ac-container input:checked~article {
    height: 800px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: -10px;
    padding-left: 3%;
    padding-right: 3%;
    padding-left: 5%;
}
@media screen and (max-width: 1005px) {
    .ac-container{
        display: block;
    }
    .slider-pages,
    .mybuttons{
        display: none;
    }
    .ac-container input:checked~article.ac-small {
        height: 680px;
    }
    .ac-container input:checked~article.ac-med {
        height: 700px;
    }
}
@media screen and (max-width: 700px) {
    .ac-container input:checked~article.ac-med {
        height: 800px;
    }
}
@media screen and (max-width: 680px) {
    .ac-container article {
        max-height: 900px;
    }

    .ac-container input:checked~article.ac-big {
        height: 900px;
    }
}

@media screen and (max-width: 580px) {
    .ac-container input:checked~article.ac-small {
        height: 800px;
    }
}
@media screen and (max-width: 540px) {
    .ac-container article {
        max-height: 1100px;
    }

    .ac-container input:checked~article.ac-big {
        height: 1100px;
    }
}

@media screen and (max-width: 490px) {
    .ac-container input:checked~article.ac-med {
        height: 850px;
    }
}

@media screen and (max-width: 455px) {
    .ac-container input:checked~article.ac-small {
        height: 850px;
    }
}

@media screen and (max-width: 425px) {
    .ac-container input:checked~article.ac-med {
        height: 950px;
    }
}

@media screen and (max-width: 410px) {
    .ac-container input:checked~article.ac-small {
        height: 850px;
    }
}

@media screen and (max-width: 355px) {
    .ac-container input:checked~article.ac-med {
        height: 1000px;
    }

    .ac-container input:checked~article.ac-small {
        height: 900px;
    }
}
@media screen and (max-width: 1200px) {
.fun-text.pair {
    margin-left: 15%;
}
.fun-text.impair {
    margin-right: 20%;
}
}
@media screen and (max-width: 1115px) {

    .fun-text{
        margin-right: 30%;
    }

}

/* METAPHORE  */

.gooey {
    background-image: linear-gradient(120deg, #fdcd0c 20%, #D74E09 100%);
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    width: 17em;
    height: 25vh;
    animation: morph 3s linear infinite;
    transform-style: preserve-3d;
    /* outline: 1px solid transparent; */
    will-change: border-radius;
    z-index: 99;
}

.gooey:before,
.gooey:after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    box-shadow: 5px 5px 89px rgba(0, 102, 255, 0.21);
    will-change: border-radius, transform, opacity;
    animation-delay: 200ms;
}

.gooey:before {
    animation: morph 3s linear infinite;
    opacity: .21;
    animation-duration: 1.5s;
}


@keyframes morph {

    0%,
    100% {
        border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
        transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }

    34% {
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
        transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
    }

    50% {
        opacity: .89;
        transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }

    67% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
        transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
    }
}

.modal {
    width:80%;
    background: white;
    border: 1px solid #ccc;
    transition: 1.1s ease-out;
    box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10%;
    z-index: 99;
}

.modal.off {
    opacity: 0;
    visibility: hidden;
    filter: blur(8px);
    transform: scale(0.33);
    box-shadow: 1rem 0 0 rgba(0, 0, 0, 0.2);
}


.modal h2 {
    border-bottom: 1px solid #ccc;
    padding: 1rem;
    margin: 0;
}

.modal .content-metaphore {
    padding: 1rem;
}

.modal .actions {
    border-top: 1px solid #ccc;
    background: #eee;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-around;
}

.modal .actions button {
    border: 0;
    background: #fdcd0c;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    line-height: 1;
    cursor: pointer;
}

#gooey-img {
    height: 6vh
}

#centered-toggle-button {
    position: fixed;
    height: 8vh;
    width: 5em;
    bottom: 0;
    right: 0;
    margin: 10px;
}
.content-metaphore p{
    margin-bottom: 15px;
}
@media screen and (max-width: 970px) {
#centered-toggle-button {
        bottom: 60px;
    }
}
@media screen and (max-width: 665px) {
    #centered-toggle-button {
        display: none;
    }
}