.ac-container {
    max-width: 90%;
    width: 100%;
    margin: 10px auto 30px auto;
    display: none;
}

.ac-container label {
    position: relative;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    cursor: pointer;
    border: 2px solid black;
    margin: 5px 0;
}

.ac-container label:hover,
.ac-container input:checked+label,
.ac-container input:checked+label:hover {
    background: #fdcd0c;
}

.ac-container input {
    display: none;
}



.img-acc {
    max-width: 300px;
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin: 3em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.img-acc img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transform: scale(1.4);
}

.ac-container article div {
    margin-right: 2em;
    margin-left: 2em;
}

.ac-container article p {
    width: 100%;
    margin-bottom: 10px;
}

.ac-container article {
    overflow: hidden;
    height: 0;
    max-height: 900px;
    transition: height 0.5s ease-in-out, box-shadow 0.1s;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.ac-container input:checked~article {
    height: 800px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: -10px;
    padding-left: 3%;
    padding-right: 3%;
    padding-left: 5%;
}
@media screen and (max-width: 680px){
    .ac-container article {
            max-height: 900px;
        }
    
        .ac-container input:checked~article.ac-big {
            height: 900px;
        }
}
@media screen and (max-width: 540px) {
    .ac-container article {
        max-height: 1100px;
    }

    .ac-container input:checked~article.ac-big {
        height: 1100px;
    }
}
@media screen and (max-width: 490px) {
    .ac-container input:checked~article.ac-med {
        height: 850px;
    }
}
@media screen and (max-width: 455px) {
    .ac-container input:checked~article.ac-small {
        height: 850px;
    }
}
@media screen and (max-width: 425px) {
    .ac-container input:checked~article.ac-med {
        height: 950px;
    }
}
@media screen and (max-width: 410px) {
    .ac-container input:checked~article.ac-small {
        height: 850px;
    }
}
@media screen and (max-width:  355px) {
    .ac-container input:checked~article.ac-med {
        height: 1000px;
    }
     .ac-container input:checked~article.ac-small {
         height:900px;
     }
}